.header-container{
    background-color: #E2F5FB;
    background-size: cover;
    height: 85vh;
    margin-left: 20px;
    margin-right: 20px;

}
.logo-container{
    margin-left: 20px;
    margin-top: 20px;
}
.image-container{
    background-color: #FFE9B5;
    width: 393px;
    height: 391px;
    top: -487px;
    left: 472px;
    border-top-left-radius: 130px;
    border-bottom-right-radius: 130px;
}
.image{
    height: 462px;
    width: 400px;
    top: 139px;
    left: 681px;
    
}

.main-container{
    display: flex;
    justify-content: space-around;
}
.main-heading{
    color: #17414F;
    font-family: roboto;
    text-align: center;
    font-weight: bold;

}
.p1{
    color: #727272;
}
.p2{
    color: #17414F ;
    font-weight: bold;
}
.button{
    background-color: #17414F;
    color: white;
    height: 25px;
    width: 80px;
    border-radius: 20px;
    border-width: 0px;
}
.firstSection{
    margin-top: 100px;
}
.card-container{
    display: flex;
    width: 300px;
}
.vitamin-image{
    height: 60px;
    width: 60px;
    margin-top: 25px;
    margin-right: 10px;
}